/* Sass: Define styles - .info: font-size 12px, .success: #00FF00 (extends .info), .warning: #FF0000 (extends .info) */
.info {
  font-size: 12px;
}

.success {
  @extend .info;
  color: #00FF00;
}

.warning {
  @extend .info;
  color: #FF0000;
}

